<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DLS-CSB</a>
            <div class="navbar-brand">
                <a href="~/User/Home">
                    HOME
                </a>
            </div>


        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account Setting<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" class="face-b"><span class="fa fa-facebook-f"></span><br />Facebook</a></li>
                        <li><a href="~/User/Me">My Account</a></li>
                        <li class="divider"></li>
                        <li><a href="~/User/Index">Log Out</a></li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>
</nav>