@model IEnumerable<MP_ENTPROG_CUELLOSM_PANGILINANJA.Models.Student>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>Home</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Features
            </th>
            <th>
                Description
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    Student class list
                </td>
                <td>"REPORT" that pertains to all the class im enrolled in! hmmpp</td>
                <td>
                    <form action="~/Classlist/ListStudent" method="post">
                        <button type="submit" class="btn btn-info">
                            Go
                        </button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    Attendance Summary
                </td>
                <td>"REPORT" to track all my lates and absences, Oh no.</td>
                <td>
                    <form action="#" method="post">
                        <button type="submit" class="btn btn-info">
                            Go
                        </button>
                    </form>
                </td>
            </tr>
    </tbody>
</table>
