@model IEnumerable<MP_ENTPROG_CUELLOSM_PANGILINANJA.Models.Subject>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>Search</h2>
<a href="~/Subject/List" class="btn btn-info">
    <i class="fa fa-user"></i>
    Go back
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectDescription)
                </td>
            </tr>
        }
    </tbody>
</table>
