@using MP_ENTPROG_CUELLOSM_PANGILINANJA.Models
@model Student
@{
    Student obj = new Student();
    List<Student> list = obj.ViewAllStudents();
}

<select id="txtStudents" name="Student" class="form-control">
    <option value="" disabled selected hidden>Select Student</option>
    @{
        foreach (Student item in list)
        {
            <option value="@item.Firstname @item.Lastname"> @item.Firstname @item.Lastname</option>
        }
    }
</select>
<br />




