@using MP_ENTPROG_CUELLOSM_PANGILINANJA.Models
@model Attendance

<table class="table table-striped table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th style="text-align: center">
                Student Name
            </th>
            <th style="text-align: center">
                Status
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (AttendanceDetail dtl in Model.AttendanceItems)
        {
            <tr>
                <td style="text-align: center">@dtl.Student</td>
                <td style="text-align: center">
                    @dtl.Status
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
